@import "../variables.scss";
@import "../mixins.scss";

.intro {
  height: 200vh;
  .hi {
    padding-top: 200px;
  }
  .vijesh-mohan {
    margin-top: 5px;
    font-size: 50px;
    font-weight: bold;
  }
  .tagline {
    margin-top: 5px;
  }
  .description {
    font-size: 13px;
    margin-top: 10px;
    width: 60%;
  }
  .tag-cloud {
    width: 500px;
    height: 500px;
    margin-top: 100px;
    _border: 1px solid red;
  }
}
.intro.dark {
  @include DarkMode;
}
.intro.light {
  @include LightMode;
}