.switch-container {
  text-align: reset;
  cursor: pointer;
  width: 50px;
  height: 25px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  .text-container {
    width: 25px;
    height: 20px;
    border-radius: 30px;
    vertical-align: middle;
    font-size: 8px;
    position: relative;
    transition: left 0.5s;
    font-weight: bold;
    .text {
      position: relative;
      top: 5px;
    }
  }
  .text-container.on {
    left: 22px;
  }
  .text-container.off {
    left: 3px;
  }
}
.switch-container.disabled {
  opacity: 0.7;
}