@import "../variables.scss";
@import "../mixins.scss";

.about-me-container {
  .header-container {
    text-align: center;
    padding-top: 75px;
    padding-bottom: 25px;
    .header {
      @include header;
    }
  }
  .profile {
    width: 200px;
    border-radius: 200px;
    border: 5px solid hwb(0 100% 0%);
    margin-left: 50px;
  }
  .snippet {
    margin-top: 15px;
  }
}
.about-me-container.dark {
  @include DarkMode;
}
.about-me-container.light {
  @include LightMode;
}
