.post {
}

.post-title {
	font-size: 25px;
}

.post-date {
	text-align: right;
}

.post-tag {
	background-color: #eeeeee;
	border-radius: 10px;
	padding: 3px 8px;
	display: inline;
}

.footer {
	position: absolute;
	bottom: 0;
	height: 60px;
	background-color: #f5f5f5;
	border-radius: 4px;
	text-align: center;
}

.blog-content {
	text-align: justify;
}

.tag-box, .pages-list {
	list-style: none;
}

.tag {
	padding: 5px;
}

.number-of-posts {
	color: #aaaaaa;
	font-size: 10px;
}

.post-page-date {
	margin-top:  10px
}