@import "../variables.scss";
@import "../mixins.scss";

.navbar {
  position: fixed;
  top: 0px;
  z-index: 2;
  width: 100%;
  box-shadow: 0px 0px 10px #aaaaaa;
  display: flex;
  .logo {
    padding-left: $top-level-padding-left;
    align-self: center;
  }
  .col {
    flex: 1;
    display: flex;
    .nav-items {
      text-align: right;
      display: flex;
      align-items: center;
      flex: 1;
      justify-content: right;
      .nav-item {
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
      }
    }
    .mode-switch {
      display: flex;
      align-items: center;
      margin-right: 20px;
    }
  }
}
.navbar.light {
  @include LightMode;
}
.navbar.dark {
  @include DarkMode;
}
