/* Variables for dark themes */
$DARK-background-color: #383838;
$DARK-lighter-color-1: #484848;
$DARK-text-color: #ffffff;

/* Variables for light themes */
$LIGHT-background-color: #ffffff;
$LIGHT-darker-color-1: #eeeeee;
$LIGHT-text-color: #383838;

/* General variables */
$top-level-padding-left: 30px;
$theme-blue: #6A98F0;